@model RequestVM

<div class="card mb-4">
    <div class="card-body">
        <a href="@Url.Action("ViewGroupRequests", "Request")" class="btn btn-secondary mb-2">Back to Requests</a>
        <h2>Submit a New Request</h2>
    </div>
    <div class="card-body">
        <form asp-action="SendRequest" method="post">
            <div class="form-group">
                <label asp-for="GroupName"></label>
                <input asp-for="GroupName" value="@Model.GroupName" readonly class="form-control" />

            </div>
            <div class="form-group">

                <input asp-for="@Model.LeaderId" value="@Model.LeaderId" hidden />

                <label asp-for="Request.Title"></label>
                <input asp-for="Request.Title" class="form-control" />
                <span asp-validation-for="Request.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.Content"></label>
                <textarea asp-for="Request.Content" class="form-control"></textarea>
                <span asp-validation-for="Request.Content" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>