
@{
    @model LoginViewModel

    <form asp-action="Login" method="post">
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
        </div>
        <div>
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" type="checkbox" />
        </div>
        <a href="@Url.Action("ForgotPassword", "Account")" class="forgot-password-link">
            Forgot your password?
        </a><br />
        <button type="submit">Login</button>
    </form>

}
