
*.bin
/.vs/SwpMentorBooking/config
/.vs/SwpMentorBooking/DesignTimeBuild
/.vs/SwpMentorBooking/FileContentIndex
/.vs/SwpMentorBooking/v17
/SwpMentorBooking.Application/bin/Debug/net8.0
/SwpMentorBooking.Application/obj/Debug/net8.0
SwpMentorBooking.Infrastructure/Data/ApplicationDbContext.cs
/SwpMentorBooking.Application/obj
/SwpMentorBooking.Domain/bin/Debug/net8.0
/SwpMentorBooking.Domain/obj/Debug/net8.0
/SwpMentorBooking.Domain/obj
/SwpMentorBooking.Infrastructure/bin/Debug/net8.0
/SwpMentorBooking.Infrastructure/obj/Debug/net8.0/ref
/SwpMentorBooking.Infrastructure/obj
/SwpMentorBooking.Web/bin
/SwpMentorBooking.Web/obj
SwpMentorBooking.Web/SwpMentorBooking.Web.csproj.user
SwpMentorBooking.sln
/SwpMentorBooking.Web/wwwroot/lib
