<title>Import Error</title>

<style>
    /* From Uiverse.io by nikk7007 */
    .switch {
        --false: #00308F;
        --true: #FF5733;
    }

    input[type=checkbox] {
        appearance: none;
        height: 2rem;
        width: 8rem;
        background-color: #fff;
        position: relative;
        border-radius: .2em;
        cursor: pointer;
    }

        input[type=checkbox]::before {
            text-align: center;
            color: #fff;
            font-weight: bold;
            content: 'Mentor';
            display: block;
            height: 1.9em;
            width: 4em;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: calc(1.9em/2 + .3em);
            background-color: var(--false);
            border-radius: .2em;
            transition: .3s ease;
        }

        input[type=checkbox]:checked::before {
            content: "Student";
            background-color: var(--true);
            left: calc(100% - (1.9em/2 + .3em));
        }

    /*=============================*/
    .bg-purple {
        background-color: #6f42c1;
    }

    .text-purple {
        color: #6f42c1;
    }

    .btn-purple {
        background-color: #6f42c1;
        color: white;
    }

        .btn-purple:hover {
            background-color: #5a32a3;
            color: white;
        }
</style>
    