@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SwpMentorBooking.Web.ViewModels.ChangePasswordVM
@{

    bool isFirstLogin = ViewBag.IsFirstLogin != null && (bool)ViewBag.IsFirstLogin;
    if (isFirstLogin)
        Layout = null;
    else
        Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentoring Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="card shadow">
                    <div class="card-body p-4">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" role="tabpanel">
                                <form asp-action="ChangePassword" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    @if (isFirstLogin && TempData["Password"] != null)
                                    {
                                        <input asp-for="CurrentPassword" value="@TempData["Password"]" hidden />
                                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>

                                    }
                                    else
                                    {
                                        <div class="mb-3 form-group">
                                            <label class="form-label">Current Password</label>
                                            <input asp-for="CurrentPassword" class="form-control" />
                                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                        </div>
                                    }
                                    <div class="mb-3 form-group">
                                        <label class="form-label">New Password</label>
                                        <input asp-for="NewPassword" class="form-control" />
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label class="form-label">Confirm Password</label>
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div style="text-align: center;">
                                        <button type="submit" class="btn btn-primary w-30 ">Save Change</button>
                                    </div>
                                    @if (ViewData["ValidateMessage"] != null)
                                    {
                                        <h4 style="text-align: center;" class="text-danger">
                                            @ViewData["ValidateMessage"]
                                        </h4>
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

