<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Dashboard</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ManageUser">Manage Users</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="SkillSpecialization" asp-action="Index">Skills & Specializations</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Topic" asp-action="Index">Topics</a>
</li>
