@model Skill

@{
    ViewData["Title"] = "Delete Skill";
    Layout = "_AdminLayout";
}

<div class="card bg-purple text-white mb-4">
    <div class="card-body">
        <h1 class="text-center mb-0">Delete Skill</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="DeleteSkill" method="post">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input disabled asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input disabled asp-for="Description" class="form-control" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}