html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #e6f3ff !important;
    margin-bottom: 60px;
}

header {
    background-color: #ffffff !important;
}

.sidebar {
    width: 200px;
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

    .sidebar .nav-link {
        color: #333;
        padding: 15px 15px;
        border-radius: 0;
        transition: all 0.3s;
    }

        .sidebar .nav-link:hover,
        .sidebar .nav-link.active {
            color: #007bff;
            background-color: #5861ac;
        }

        .sidebar .nav-link i {
            margin-right: 10px;
            font-size: 1.2em;
        }

main {
    margin-left: 200px;
}

@media (min-width: 768px) {
    main {
        margin-left: 200px;
    }
}


footer {
    margin-left: 200px;
}

.skill-badge {
    display: inline-block;
    padding: 0.35rem 0.75rem;
    background-color: #e6f0ff;
    color: #0d6efd;
    border-radius: 50rem;
    font-size: 0.875rem;
    margin: 0.25rem;
}


.skill-section {
    margin-bottom: 1.5rem;
}

    .skill-section:last-child {
        margin-bottom: 0;
    }

.skill-title {
    font-size: 0.875rem;
    font-weight: 500;
    color: #6c757d;
    margin-bottom: 0.5rem;
}


