@model StudentDetailVM

<div class="card bg-purple text-white mb-4">
    <div class="card-body">
        <h1 class="text-center mb-0">Update Student Profile</h1>
    </div>
</div>

<div class="card-body border p-4">
    <form method="post" asp-action="UpdateProfile">
        <!-- Adjust the action as needed -->
        <input type="hidden" asp-for="UserId" />

        <div class="row">
            <div class="col-md-8">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email:</label>
                    <input readonly asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="FullName" class="form-label">Full Name:</label>
                    <input readonly asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Phone" class="form-label">Phone Number:</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Gender" class="form-label">Gender:</label>
                    <input readonly asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="StudentCode" class="form-label">Student Code:</label>
                    <input readonly asp-for="StudentCode" class="form-control" />
                    <span asp-validation-for="StudentCode" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>
        </div>
    </form>
</div>