<li class="nav-item">
    <a class=" text-dark nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" asp-action="Index" asp-controller="Admin">
        <i class="fas fa-home"></i>
        <span>Homepage</span>
    </a>
</li>
<li class="nav-item">
    <a class="text-dark nav-link  @(ViewContext.RouteData.Values["Action"].ToString() == "ManageUser" ? "active" : "")" asp-action="ManageUser" asp-controller="Admin">
        <i class="fas fa-users"></i>
        <span>User Management</span>
    </a>
</li>