<li class="nav-item">
    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" asp-action="Index" asp-controller="Admin">
        <i class="fas fa-home"></i>
        <span>Homepage</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link  @(ViewContext.RouteData.Values["Action"].ToString() == "ManageUser" ? "active" : "")" asp-action="ManageUser" asp-controller="Admin">
        <i class="fas fa-users"></i>
        <span>User Management</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "ManageTopic" ? "active" : "")" asp-controller="Topic" asp-action="ManageTopic">
        <i class="fa-solid fa-rectangle-list"></i>
        Topics
        </a>
</li>
<li class="nav-item">
    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "ManageRequests" ? "active" : "")" asp-controller="Request" asp-action="ManageRequests">
        <i class="fa-duotone fa-solid fa-inbox"></i>
        Requests
    </a>
</li>
