<li class="nav-item">
    <a class=" nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" asp-action="Index" asp-controller="Mentor">
        <i class="fas fa-home"></i>
        <span>Homepage</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link  @(ViewContext.RouteData.Values["Action"].ToString() == "ViewSchedule" ? "active" : "")" asp-action="ViewSchedule" asp-controller="Mentor">
        <i class="fas fa-calendar"></i>
        <span>Schedule</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "ViewMentorBookings" ? "active" : "")" asp-action="ViewMentorBookings" asp-controller="Booking">
        <i class="fas fa-history"></i>
        <span>Bookings</span>
    </a>
</li>