

<div class="card bg-purple text-white mb-4">
    <div class="card-body">
        <h1 class="text-center mb-0">Admin Main Page</h1>
    </div>
</div>

<div class="mb-3">
    <a asp-controller="Admin" asp-action="ManageUser" class="btn btn-purple">
        <i class="bi bi-plus-circle"></i><i class="fas fa-plus"></i> User Management
    </a>
</div>



<style>
    .bg-purple {
        background-color: #6f42c1;
    }

    .text-purple {
        color: #6f42c1;
    }

    .btn-purple {
        background-color: #6f42c1;
        color: white;
    }

        .btn-purple:hover {
            background-color: #5a32a3;
            color: white;
        }
</style>

